body{
    background-color: #000000;
	margin: 0;
}

.form{
width: 700px;
height: 576px;
margin: 248px 388px 200px;
background: #FFFFFF;
border-radius: 8px;
}

.form h1{
font-family: 'Sora';
font-weight: 600;
font-size: 18px;
line-height: 20px;
align-items: center;
color: #000000;
padding: 40px 0 0 20px;
}
 
.form p{
font-family: 'Sora';
font-weight: 400;
font-size: 16px;
line-height: 20px;
align-items: center;
color: #000000;
padding: 15px 0 0 24px;
}
/* //////////////////// */
.surname{
width: 168px;
height: 48px;
padding: 16px 0 0 40px;
border: 0.5px solid;
border-radius: 8px;
background-color: transparent;
margin: 16px 8px 0 24px;
}
.name{
width: 168px;
height: 48px;
padding: 16px 0 0 40px;
border: 0.5px solid;
border-radius: 8px;
background-color: transparent;
}

.last-name{
width: 168px;
height: 48px;
padding: 16px 0 0 40px;
border: 0.5px solid;
border-radius: 8px;
background-color: transparent;
margin: 0 24px 0 8px;
}
.form input{
font-family: 'Sora';
font-size: 18px;
color: #DADADA;
padding: 0 16px;
}

.form h2{
font-family: 'Sora';
font-weight: 400;
font-size: 18px;
line-height: 18px;
color: #000000;
padding-left: 24px;
margin-top: 16px;
}