body{
    background-color: #000000;
	margin: 0;
}

.form{
width: 700px;
height: 590px;
margin: 248px 388px 200px;
background: #FFFFFF;
border-radius: 8px;
}

.form h1{
font-family: 'Sora';
font-weight: 600;
font-size: 18px;
line-height: 20px;
align-items: center;
color: #000000;
padding: 40px 0 0 20px;
}
 
.form p{
font-family: 'Sora';
font-weight: 200;
font-size: 18px;
line-height: 20px;
align-items: center;
color: #000000;
padding: 15px 0 0 24px;
}
/* //////////////////// */
.surname{
width: 168px;
height: 48px;
padding: 16px 0 0 40px;
border: 0.5px solid;
border-radius: 8px;
background-color: transparent;
margin: 16px 8px 0 24px;
}
.name{
width: 168px;
height: 48px;
padding: 16px 0 0 40px;
border: 0.5px solid;
border-radius: 8px;
background-color: transparent;
}

.last-name{
width: 168px;
height: 48px;
padding: 16px 0 0 40px;
border: 0.5px solid;
border-radius: 8px;
background-color: transparent;
margin: 0 24px 0 8px;
}
.form input{
font-family: 'Sora';
font-size: 18px;
color: #DADADA;
padding: 0 16px;
}

.form h2{
font-family: 'Sora';
font-weight: 200;
font-size: 18px;
line-height: 18px;
color: #000000;
padding-left: 24px;
margin-top: 16px;
}
/* ///////////////// */
.date{
width: 168px;
height: 48px;
border: 0.5px solid;
border-radius: 8px;
margin: 0 8px 0 0;
background: url(images/date.svg) no-repeat center right 10%;
margin-left: 24px;
}
/* //////////////////////////////////////////////////////// */
.address{
width: 380px;
height: 48px;
font-weight: 400;
line-height: 18px;
border-radius: 8px;
border: 1px solid;
background-color: transparent;
}
/* ///////////////////////////// */
.user-id{
width: 168px;
height: 48px;
font-weight: 400;
line-height: 18px;
color: #DADADA;
margin:16px 0 0 24px;
border-radius: 8px;
border: 1px solid;
background-color: transparent;
}
/* //////////////////////////// */
.user-inn{
width: 168px;
height: 48px;
font-weight: 400;
line-height: 18px;
color: #DADADA;
margin: 0 0 0 8px;
border-radius: 8px;
border: 1px solid;
background-color: transparent;
}
/* /////////////////////////// */
.date-get{
width: 168px;
height: 48px;
border: 0.5px solid;
border-radius: 8px;
margin: 0 8px 0 0;
background: url(images/date.svg) no-repeat center right 10%;
margin: 0 0 0 8px;
}
/* //////////////////////////////////////////////////////// */
.number{
width: 168px;
height: 48px;
font-weight: 400;
line-height: 18px;
color: #DADADA;
margin:16px 0 0 24px;
border-radius: 8px;
border: 1px solid;
background-color: transparent;
}
.user-gmail{
width: 168px;
height: 48px;
font-weight: 400;
line-height: 18px;
color: #DADADA;
margin: 0 0 0 8px;
border-radius: 8px;
border: 1px solid;
background-color: transparent;
}
.user{
width: 168px;
height: 48px;
border: 0.5px solid;
border-radius: 8px;
margin: 0 8px 0 0;
background: url(images/chose.svg) no-repeat center right 5%;
margin: 0 24px 0 8px;
}
.fact-address{
width: 384px;
height: 48px;
font-weight: 400;
line-height: 18px;
margin:16px 0 0 24px;
border-radius: 8px;
border: 1px solid;
background-color: transparent;
}
.next{
width: 352px;
height: 48px;
font-family: 'Sora';
font-weight: 400;
font-size: 30px;
line-height: 25px;
background-color: #000000;
margin: 25px 156px;
text-align: center;
border-radius: 4px;
}
/* 222222222222222222222222222 */

body{
    background-color: #000000;
	margin: 0 auto;

}

.block{
width: 640px;
height: 328px;
background: #FFFFFF;
border-radius: 4px;
margin: 344px 400px 352px ;
}

.password h1{
width: 248px;
height: 24px;
font-family: 'Sora';
font-weight: 600;
font-size: 18px;
line-height: 20px;
text-align: center;
color: #000000;
padding: 40px 196px 0;
}
.password p{
width: 256px;
height: 32px;
font-family: 'Sora';
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-align: center;
color: #A9A9A9;
padding: 0 192px 0;
}






