body{
    background-color: #000000;
	margin: 0;
}

.form{
width: 700px;
height: 590px;
margin: 248px 388px 0;
background: #FFFFFF;
border-radius: 8px;
}

.form h1{
font-family: 'Sora';
font-weight: 600;
font-size: 18px;
line-height: 20px;
align-items: center;
color: #000000;
padding: 40px 0 0 20px;
}
 
.form p{
font-family: 'Sora';
font-weight: 200;
font-size: 18px;
line-height: 20px;
align-items: center;
color: #000000;
padding: 15px 0 0 24px;
}
/* //////////////////// */
.surname{
width: 168px;
height: 48px;
padding: 16px 0 0 40px;
border: 0.5px solid;
border-radius: 8px;
background-color: transparent;
margin: 16px 8px 0 24px;
}
.name{
width: 168px;
height: 48px;
padding: 16px 0 0 40px;
border: 0.5px solid;
border-radius: 8px;
background-color: transparent;
}

.last-name{
width: 168px;
height: 48px;
padding: 16px 0 0 40px;
border: 0.5px solid;
border-radius: 8px;
background-color: transparent;
margin: 0 24px 0 8px;
}
.form input{
font-family: 'Sora';
font-size: 18px;
color: #DADADA;
padding: 0 16px;
}

.form h2{
font-family: 'Sora';
font-weight: 200;
font-size: 18px;
line-height: 18px;
color: #000000;
padding-left: 24px;
margin-top: 16px;
}
/* ///////////////// */
.date{
width: 168px;
height: 48px;
border: 0.5px solid;
border-radius: 8px;
margin: 0 8px 0 0;
background: url(images/date.svg) no-repeat center right 10%;
margin-left: 24px;
}
/* //////////////////////////////////////////////////////// */
.address{
width: 380px;
height: 48px;
font-weight: 400;
line-height: 18px;
border-radius: 8px;
border: 1px solid;
background-color: transparent;
}
/* ///////////////////////////// */
.user-id{
width: 168px;
height: 48px;
font-weight: 400;
line-height: 18px;
color: #DADADA;
margin:16px 0 0 24px;
border-radius: 8px;
border: 1px solid;
background-color: transparent;
}
/* //////////////////////////// */
.user-inn{
width: 168px;
height: 48px;
font-weight: 400;
line-height: 18px;
color: #DADADA;
margin: 0 0 0 8px;
border-radius: 8px;
border: 1px solid;
background-color: transparent;
}
/* /////////////////////////// */
.date-get{
width: 168px;
height: 48px;
border: 0.5px solid;
border-radius: 8px;
margin: 0 8px 0 0;
background: url(images/date.svg) no-repeat center right 10%;
margin: 0 0 0 8px;
}
/* //////////////////////////////////////////////////////// */
.number{
width: 168px;
height: 48px;
font-weight: 400;
line-height: 18px;
color: #DADADA;
margin:16px 0 0 24px;
border-radius: 8px;
border: 1px solid;
background-color: transparent;
}
.user-gmail{
width: 168px;
height: 48px;
font-weight: 400;
line-height: 18px;
color: #DADADA;
margin: 0 0 0 8px;
border-radius: 8px;
border: 1px solid;
background-color: transparent;
}
.user{
width: 200px;
height: 48px;
border: 0.5px solid #AEAEAE;
border-radius: 8px;
margin: 0 24px 0 8px;
padding-left: 16px;
color: #DADADA;
font-family: 'Sora';
font-weight: 400;
font-size: 18px;
line-height: 18px;

}
.fact-address{
width: 384px;
height: 48px;
font-weight: 400;
line-height: 18px;
margin:16px 0 0 24px;
border-radius: 8px;
border: 1px solid;
background-color: transparent;
}
.next{
width: 352px;
height: 48px;
font-family: 'Sora';
font-weight: 400;
font-size: 26px;
line-height: 25px;
background-color: #000000;
margin: 25px 156px;
text-align: center;
border-radius: 4px;
}
/* 222222222222222222222222222 */


.block{
width: 686px;
height: 328px;
background: #FFFFFF;
border-radius: 4px;
margin: 344px 400px 0;
}

.password h1{
width: 280px;
height: 12px;
font-family: 'Sora';
font-weight: 600;
font-size: 18px;
line-height: 20px;
text-align: center;
color: #000000;
padding: 40px 196px 0;
}
.password p{
width: 297px;
height: 18px;
font-family: 'Sora';
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-align: center;
color: #A9A9A9;
padding: 0 192px 0;
}

.cod-1 input{
width: 16px;
height: 32px;
font-family: 'Soro' ;
font-weight: 600;
font-size: 24px;
line-height: 24px;
color: #141414;
}
.cod-1{
width: 48px;
height: 48px;
background: #FFFFFF;
border: 0.5px solid #DADADA;
border-radius: 12px;
text-align: center;
margin: 40px 0 0 212px;
}
.cod-2{
width: 48px;
height: 48px;
background: #FFFFFF;
border: 0.5px solid #DADADA;
border-radius: 12px;
text-align: center;
}
.cod-3{
width: 48px;
height: 48px;
background: #FFFFFF;
border: 0.5px solid #DADADA;
border-radius: 12px;
text-align: center;
}

.cod-4{
width: 48px;
height: 48px;
background: #FFFFFF;
border: 0.5px solid #DADADA;
border-radius: 12px;
text-align: center;
}
.next{
width: 342px;
height: 35px;
background: #232529;
border-radius: 4px;
color: #FFFFFF;
}
/* 333333333333333333333 */

.block-2{
width: 645px;
height: 264px;
background: #FFFFFF;
border-radius: 4px;
margin: 344px 400px 0;
}

.block-2 h1{
width: 256px;
height: 24px;
font-family: 'Sora';
font-weight: 600;
font-size: 18px;
line-height: 20px;
text-align: center;
color: #000000;
padding: 40px 192px 0 ;
}
.block-2 p{
    margin-left: 16px;
}
.numbers{
width: 575px;
height: 48px;
background-color: transparent;
border: 0.5px solid #DADADA;
border-radius: 4px;
padding-left:32px ;
font-size: 14px;
line-height: 18px;
margin-left: 16px;
}

.private-number .numbers{
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: rgba(0, 0, 0, 0.25);
}

.link{
width: 384px;
height: 48px;
font-size: 20px;
background: #232529;
border-radius: 4px;
color: #FFFFFF;
margin: 16px 144px 0;
text-align: center;
}
/* //////////////////// */
.income{
width: 665px;
height: 608px;
background: #FFFFFF;
border-radius: 8px;
margin: 248px 368px 0 408px;
}
.income h1{
width: 478px;
font-family: 'Sora';
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #000000;
background: #FFFFFF;
border-radius: 8px;
padding: 40px 166px 0 20px; 
}
.agency{
width: 367px;
height: 44px;
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #DADADA;
border: 0.5px solid #AEAEAE;
border-radius: 8px;
margin-left: 24px;
padding-left: 15px;
}
.post{
width: 200px;
height: 44px;
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #DADADA;
border: 0.5px solid #AEAEAE;
border-radius: 8px;
margin: 0 24px 0 8px;
padding-left: 16px;
}

.wage-1{
width: 272px;
height: 44px;
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #DADADA;
margin: 16px 0 0 24px;
padding-left: 16px;
border: 0.5px solid #AEAEAE;
border-radius: 8px;
}
.wage-2{
width: 295px;
height: 44px;
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #DADADA;
margin: 0 24px 0 8px;
padding-left: 16px;
border: 0.5px solid #AEAEAE;
border-radius: 8px;
}
.income p{
width: 332px;
height: 16px;
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #000000;
margin: 16px 0 0 24px;
}
.product{
width:600px;
height:44px;
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #DADADA;
border-radius: 8px;
border: 0.5px solid #AEAEAE;
margin: 8px 0 0 24px;
padding-left: 16px;
}
.price{
width: 176px;
height: 44px;
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
border-radius: 8px;
border: 0.5px solid #AEAEAE;
color: #DADADA;
margin: 16px 0 0 24px;
padding-left: 16px;
}
.quality{
width: 176px;
height: 44px;
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
border-radius: 8px;
border: 0.5px solid #AEAEAE;
color: #DADADA;
margin-left: 8px;
padding-left: 16px;
}
.amount{
width: 176px;
height: 44px;
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
border-radius: 8px;
border: 0.5px solid #AEAEAE;
color: #DADADA;
margin-left: 8px;
padding-left: 16px;
}
.credit{
width: 176px;
height: 44px;
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
border-radius: 8px;
border: 0.5px solid #AEAEAE;
color: #DADADA;
margin: 16px 0 0 24px;
padding-left: 16px;
}
.term{
width: 176px;
height: 44px;
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
border-radius: 8px;
border: 0.5px solid #AEAEAE;
color: #DADADA;
margin-left: 8px;
padding-left: 16px;
}
.place{
width: 625px;
height: 44px;
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #DADADA;
margin: 16px 0 0 24px;
padding-left: 16px;
border: 0.5px solid #AEAEAE;
border-radius: 8px;

}
.submit{
width: 384px;
height: 44px;
font-family: 'Sora';
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;
color: #FFFFFF;
margin: 40px 140px 0;
background-color: #000000;
border-radius: 4px;
}
/* 5555555555555555555555555555555 */

body{
    background: #fdfdfd;
    margin: 0 ;  
}
.form-con{
width: 1440px;
}

.form-con h1{
height: 24px;
font-family: 'Sora';
font-weight: 600;
font-size: 18px;
line-height: 20px;
color: #000000;
margin: 44px 0 0 80px;
}
.form-con h2{
height: 16px;
font-family: 'Sora';
font-weight: 600;
font-size: 16px;
line-height: 18px;
color: #000000;
margin: 24px 0 0 80px;
}

.text{
    display: flex;
}

.form-con p{
height: 16px;
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #000000;
margin: 16px 0 0 80px;
}
.container1 input{
width: 200px;
height: 44px;
font-family: 'Sora';
font-size: 14px;
line-height: 18px;
background-color: transparent;
border: 0.5px solid #AEAEAE;
border-radius: 8px;
margin-left: 8px;
padding-left: 16px;
color: #AEAEAE;

}
.container1{
    display: flex;
    margin: 8px 0 0 72px;
}
.brday{
width: 200px;
height: 44px;
border: 0.5px solid #AEAEAE;
border-radius: 8px;
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
background-color: transparent;
color: #AEAEAE;
margin: 8px 0 0 80px;
padding-left: 16px;
background: url(images/date.svg) no-repeat center right 10%;
}
.address2{
width: 408px;
height: 44px;
background-color: transparent;
color: #AEAEAE;
border: 0.5px solid #AEAEAE;
border-radius: 8px;
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
margin: 8px 0 0 8px;
padding-left: 16px;
}
.number1{
width: 200px;
height: 44px;
border: 0.5px solid #AEAEAE;
border-radius: 8px;
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
background-color: transparent;
color: #AEAEAE;
margin: 8px 0 0 80px;
padding-left: 16px;
}
.email{
width: 200px;
height: 44px;
background-color: transparent;
color: #AEAEAE;
border: 0.5px solid #AEAEAE;
border-radius: 8px;
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
margin: 8px 0 0 8px;
padding-left: 16px;
}
.number-an{
width: 200px;
height: 44px;
border: 0.5px solid #AEAEAE;
border-radius: 8px;
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
background-color: transparent;
color: #AEAEAE;
margin: 8px 0 0 80px;
padding-left: 16px;
}
.number-inn{
width: 200px;
height: 44px;
background-color: transparent;
color: #AEAEAE;
border: 0.5px solid #AEAEAE;
border-radius: 8px;
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
margin: 8px 0 0 8px;
padding-left: 16px;
}
.take-date{
    width: 200px;
    height: 44px;
    background-color: transparent;
    color: #AEAEAE;
    border: 0.5px solid #AEAEAE;
    border-radius: 8px;
    font-family: 'Sora';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 8px 0 0 8px;
    padding-left: 16px;
    background: url(images/date.svg) no-repeat center right 10%;  
}
.choose{
    width: 200px;
    height: 44px;
    border: 0.5px solid #AEAEAE;
    border-radius: 8px;
    font-family: 'Sora';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    background-color: transparent;
    color: #AEAEAE;
    margin: 8px 0 0 80px;
    padding-left: 16px; 
}
.address3{
width: 408px;
height: 44px;
background-color: transparent;
color: #AEAEAE;
border: 0.5px solid #AEAEAE;
border-radius: 8px;
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
margin: 8px 0 0 8px;
padding-left: 16px;
}
.company{
    width: 190px;
    height: 44px;
    border: 0.5px solid #AEAEAE;
    border-radius: 8px;
    font-family: 'Sora';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    background-color: transparent;
    color: #AEAEAE;
    margin: 8px 0 0 80px;
    padding-left: 16px;  
}
.post2{
width: 408px;
height: 44px;
background-color: transparent;
color: #AEAEAE;
border: 0.5px solid #AEAEAE;
border-radius: 8px;
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
margin: 8px 0 0 8px;
padding-left: 16px;
}
.input{
width: 304px;
height: 44px;
border: 0.5px solid #AEAEAE;
border-radius: 8px;
margin: 8px 0 0 80px;
}
.input2{
width: 304px;
height: 44px;
border: 0.5px solid #AEAEAE;
border-radius: 8px;
margin-left: 5px;
}
.iPhone{
width: 625px;
height: 44px;
border: 0.5px solid #AEAEAE;
border-radius: 8px;
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #AEAEAE;
background-color: transparent;
margin: 8px 0 0 80px;
padding-left: 16px;
}
.cost1{
    width: 190px;
    height: 44px;
    border: 0.5px solid #AEAEAE;
    border-radius: 8px;
    font-family: 'Sora';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    background-color: transparent;
    color: #AEAEAE;
    margin: 8px 0 0 80px;
    padding-left: 16px;  
}
.number2{
width: 200px;
height: 44px;
background-color: transparent;
color: #AEAEAE;
border: 0.5px solid #AEAEAE;
border-radius: 8px;
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
margin: 8px 0 0 8px;
padding-left: 16px;
}
.cost2{
    width: 200px;
    height: 44px;
    background-color: transparent;
    color: #AEAEAE;
    border: 0.5px solid #AEAEAE;
    border-radius: 8px;
    font-family: 'Sora';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 8px 0 0 5px;
    padding-left: 16px;  
}
.credit1{
    width: 200px;
    height: 44px;
    border: 0.5px solid #AEAEAE;
    border-radius: 8px;
    font-family: 'Sora';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    background-color: transparent;
    color: #AEAEAE;
    margin: 8px 0 0 80px;
    padding-left: 16px; 
}
.mouth{
width: 200px;
height: 44px;
background-color: transparent;
color: #AEAEAE;
border: 0.5px solid #AEAEAE;
border-radius: 8px;
font-family: 'Sora';
font-weight: 400;
font-size: 14px;
line-height: 18px;
margin: 8px 0 0 8px;
padding-left: 16px;
}
.address4{
    width: 200px;
    height: 44px;
    border: 0.5px solid #AEAEAE;
    border-radius: 8px;
    font-family: 'Sora';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    background-color: transparent;
    color: #AEAEAE;
    margin: 8px 0 0 8px;
    padding-left: 16px; 
}
.submit1{
width: 408px;
height: 48px;
background: #232529;
border-radius: 4px;
font-family: 'Sora';
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #FFFFFF;
margin: 32px 848px 167px 184px;


}






